body{
    background-color: #0875f2;
    font-family: sans-serif;
    /* min-height: 100vh; */
}
.card{
    position: absolute;
    margin: auto;
    padding: 10px;
    inset: 0;
    height: 470px;
    width: 302px;
    box-shadow:10px 10px 8px 10px rgba(136, 136, 136, 0.3) ;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}
img{
    width: 100%;
}
 .card p{
    text-align: center;
 }

.card h3{
    text-align: center;
}